@import "../utils/strAltColors";

%header {
    display: flex;
    justify-content: space-between;

	background-color: lightgray;
    padding: 1.25rem 2rem;
    #company-identifier {
	   #logo-icon {
		  font-size: 1.45rem;
		  color: blue; 

		  @include md{
			 visibility: hidden;
		  }
	   }
	   #company-name {
		  margin-left: 5px;
		  font-size: 1.5rem;
		  @include str-alt-colors("Googol!");

		  visibility: hidden;
		  @include md{
			 visibility: visible;
		  }
	   }
   }
   nav {
	  margin-top: 0.35rem;
	  margin-right: 1.65rem;
	  menu {
		 list-style-type: none;
		 li {
			font-size: 1.2rem;
			display: inline;
			cursor: pointer;

			@include transition-ease;

			&:last-child {
			   i {
				  font-size: 1.75rem;
			   }
			   span {
				  position: relative;
				  bottom: 20px;
				  right: 15px;
				  background-color: red;
				  padding: 0.15rem 0.5rem;
				  border-radius: 3px;
				  font-size: 0.85rem;
			   }
			}

			&:not(:last-child) {
			   margin-right: 1.2rem;
			}
			&:hover {
			   font-weight: bolder;
			}
		 }
	  }
   }
}
