@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main #search .modal-header, main #search {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 1.25rem 2rem;
}
header #company-identifier #logo-icon {
  font-size: 1.45rem;
  color: blue;
}
@media (min-width: 768px) {
  header #company-identifier #logo-icon {
    visibility: hidden;
  }
}
header #company-identifier #company-name {
  margin-left: 5px;
  font-size: 1.5rem;
  visibility: hidden;
}
header #company-identifier #company-name span:nth-child(1)::after {
  content: "G";
  color: blue;
}
header #company-identifier #company-name span:nth-child(2)::after {
  content: "o";
  color: red;
}
header #company-identifier #company-name span:nth-child(3)::after {
  content: "o";
  color: yellow;
}
header #company-identifier #company-name span:nth-child(4)::after {
  content: "g";
  color: blue;
}
header #company-identifier #company-name span:nth-child(5)::after {
  content: "o";
  color: green;
}
header #company-identifier #company-name span:nth-child(6)::after {
  content: "l";
  color: red;
}
header #company-identifier #company-name span:nth-child(7)::after {
  content: "!";
  color: blue;
}
@media (min-width: 768px) {
  header #company-identifier #company-name {
    visibility: visible;
  }
}
header nav {
  margin-top: 0.35rem;
  margin-right: 1.65rem;
}
header nav menu {
  list-style-type: none;
}
header nav menu li {
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
header nav menu li:last-child i {
  font-size: 1.75rem;
}
header nav menu li:last-child span {
  position: relative;
  bottom: 20px;
  right: 15px;
  background-color: red;
  padding: 0.15rem 0.5rem;
  border-radius: 3px;
  font-size: 0.85rem;
}
header nav menu li:not(:last-child) {
  margin-right: 1.2rem;
}
header nav menu li:hover {
  font-weight: bolder;
}

footer {
  background-color: lightgray;
  font-size: 1.15rem;
  width: 100%;
  position: absolute;
  bottom: -110vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.95rem;
}
@media (min-width: 768px) {
  footer {
    bottom: 0;
  }
}
footer #site-info ul {
  list-style-type: none;
}
footer #site-info ul li {
  display: inline;
  cursor: pointer;
}
footer #site-info ul li:not(:last-child) {
  margin-right: 1.2rem;
}
footer #copyright-info {
  font-size: 1rem;
}

main #search #search-output {
  margin: 10px 20vw;
}
main #search #search-output #searching {
  font-size: 1.5rem;
}
main #search #search-output #searching::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  width: 0;
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

main #search .modal-body #search-entry {
  display: flex;
  border: 2px solid lightgrey;
  border-radius: 500px;
  padding: 0.25rem 0.15rem 0.25rem 0.25rem;
}
main #search .modal-body #search-entry form {
  width: 100%;
}
main #search .modal-body #search-entry form button {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.35rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: black;
}
main #search .modal-body #search-entry form input[type=search] {
  font-size: 1.25rem;
  width: 90%;
  padding: 5px 10px;
  text-align: left;
  border-radius: 500px;
  letter-spacing: 0.1rem;
  border: 0;
  outline: 0;
}
main #search .modal-body #search-entry form input[type=search]:invalid {
  border: 2px solid red;
  color: red;
}
main #search .modal-body #search-entry form input[type=search]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  height: 25px;
  width: 25px;
  background: url("../images/cancel.png");
  cursor: pointer;
}

main #search .modal-body h1, main #search .modal-header-text h1 {
  margin: 15px 0;
  text-align: center;
  font-size: 3.5rem;
}
main #search .modal-body h1 span:nth-child(1)::after, main #search .modal-header-text h1 span:nth-child(1)::after {
  content: "G";
  color: blue;
}
main #search .modal-body h1 span:nth-child(2)::after, main #search .modal-header-text h1 span:nth-child(2)::after {
  content: "o";
  color: red;
}
main #search .modal-body h1 span:nth-child(3)::after, main #search .modal-header-text h1 span:nth-child(3)::after {
  content: "o";
  color: yellow;
}
main #search .modal-body h1 span:nth-child(4)::after, main #search .modal-header-text h1 span:nth-child(4)::after {
  content: "g";
  color: blue;
}
main #search .modal-body h1 span:nth-child(5)::after, main #search .modal-header-text h1 span:nth-child(5)::after {
  content: "o";
  color: green;
}
main #search .modal-body h1 span:nth-child(6)::after, main #search .modal-header-text h1 span:nth-child(6)::after {
  content: "l";
  color: red;
}
main #search .modal-body h1 span:nth-child(7)::after, main #search .modal-header-text h1 span:nth-child(7)::after {
  content: "!";
  color: blue;
}

main #features {
  margin: 2rem;
}
main #features .features-listing {
  margin: 2rem;
  display: flex;
}
main #features .features-listing #features-listing-icon {
  align-self: center;
  font-size: 2.5rem;
  margin: 0 2rem;
}
main #features .features-listing-text-heading {
  font-size: 1.5rem;
  font-weight: bold;
}
main #products {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media (min-width: 768px) {
  main #products {
    display: flex;
  }
}
main #products .product {
  border: 1px solid black;
  margin-bottom: 2rem;
  width: 400px;
}
@media (min-width: 768px) {
  main #products .product {
    margin-bottom: 1.2rem;
  }
}
main #products .product-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.85rem 0;
  background-color: lightgray;
}
main #products .product-price {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}
main #products .product-price span::before {
  content: "$";
}
main #products .product-price span:first-child::after {
  content: "‒";
  margin-left: 5px;
}
main #products .product-selling-points {
  margin: 1.2rem 1.75rem 0.95rem 4.75rem;
}
main #products .product-selling-points i {
  float: left;
  font-size: 3.75rem;
  margin-right: 3.25rem;
}
main #products .product-selling-points ul {
  list-style-type: none;
  text-align: left;
}
main #products .product .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 50%;
  background-color: goldenrod;
  color: black;
  border-radius: 0;
}
@media (min-width: 768px) {
  main #products .product:not(:last-child) {
    margin-right: 1.5rem;
  }
}

main #search #recipe-results #recipe-result {
  margin: 0 auto;
  border: 1px solid lightgrey;
  width: 95%;
}
main #search #recipe-results #recipe-result-image-thumb {
  width: 100%;
  height: 350px;
}
main #search #recipe-results #recipe-result-title {
  position: relative;
  bottom: 325px;
  background-color: white;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.5rem;
}
main #search #recipe-results #recipe-result-ingredients-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
main #search #recipe-results #recipe-result-ingredients ul {
  list-style-position: inside;
  margin: 0 2rem;
  column-count: 2;
}
main #search #recipe-results #recipe-result-ingredients ul li span:first-child {
  margin: 0 0.25rem;
}
main #search #recipe-results #recipe-result-instructions {
  padding: 1.2rem;
}
main #search #recipe-results #recipe-result-instructions-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
main #search #recipe-results #recipe-result-instructions-text-list {
  list-style-type: none;
  list-style-position: inside;
  counter-reset: instruction-step;
  column-count: 2;
}
main #search #recipe-results #recipe-result-instructions-text-list li::before {
  counter-increment: instruction-step;
  content: "Step " counter(instruction-step) ". ";
  font-weight: bolder;
}
main #search #recipe-results #recipe-result-instructions-text-list li::after {
  content: ".";
}

main h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 10vh 10vw;
}
@media (min-width: 768px) {
  main h1 {
    margin: 5vh 0;
  }
}
main #search {
  position: absolute;
  width: 90%;
  background: white;
  color: black;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
main #search .modal-header-close {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  align-self: flex-end;
  margin-left: 0.5rem;
  cursor: pointer;
}
main #search .modal-header-text {
  font-size: 1.75rem;
  align-self: center;
  text-decoration: underline;
}
main #search .modal-body {
  margin: 1rem;
  height: 100%;
}
main #search.hidden {
  display: none;
}
main #search > .modal-body > #search-entry.hidden {
  display: none;
}
main #search #category-results {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 1.75rem;
}
main #search #category-results .category-result {
  margin: 0 auto;
  width: 50%;
  height: 50%;
}
main #search #category-results .category-result-image-thumb {
  width: 100%;
  height: 100%;
}
main #search #category-results .category-result-title {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 0.75rem 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}
main #search #category-results-btn-group {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-evenly;
}
main #search #category-results-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
main #search #category-results-btn-group .btn:active {
  box-shadow: none;
}
main #search #category-results-btn-group .btn:disabled {
  box-shadow: none;
  opacity: 0.2;
}