@import 'utils/config', 'utils/res-mq', 'utils/utils', 'utils/button', 'parts/header', 'parts/footer', 'parts/search/search-output', 'modal/modal', 'parts/features', 'parts/products', 'parts/recipes';

$modal-width: 90%;
$modal-bg-color: white;
$modal-text-color: black;

header {
   @extend %header;
}
main {
   h1 {
	  font-size: 1.5rem;
	  text-align: center;
	  margin: 10vh 10vw;
	  @include md {
		 margin: 5vh 0;
	  }
   }
   #features {
	  @extend %features;
   }
   #products {
	  @extend %products;
   }
   #search {
	  @include modal($modal-width, $modal-bg-color, $modal-text-color, true, false);
	  position: absolute;
	  top: 10vh;
	  left: 50%;
	  transform: translateX(-50%);
	  @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);

	  &.hidden {
		 display: none;
	  }
	  & > .modal-body > #search-entry.hidden {
		 display: none;
	  }		 
	  #search-output {
		 @extend %search-output;
	  }
	  #recipe-results {
		 @extend %recipe-result;
	  }
   }
}
footer {
   @extend %footer;
}
