@use "sass:list";
@use "sass:string";
@import 'utils/config', 'utils/utils', 'utils/button', 'parts/header', 'parts/footer', 'parts/search/search-output', 'modal/modal';

$modal-width: 90%;
$modal-bg-color: white;
$modal-text-color: black;

header {
   @extend %header;
}
main {
   #search {
	  @include modal($modal-width, $modal-bg-color, $modal-text-color, true);
	  @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);
   }
   #search-output {
	  @extend %search-output;
   }
   #search.hidden {
	  display: none;
   }
}
footer {
   @extend %footer;
}
